<html>
<head>
  <title>Flapper News</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
<body ng-app="flapperNews" ng-controller="MainController">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>
  <!-- home.html inline template -->
  <script type="text/ng-template" id="/home.html">
    <div class="page-header">
      <h1>Flapper News</h1>
    </div>

    <div ng-repeat="post in posts | orderBy:'created_at'">
      <div>
        <span class="glyphicon glyphicon-thumbs-up"
          ng-click="incrementUpvotes(post)"></span>
        {{post.upvotes}}
      
        <span style="font-size:20px; margin-left:10px;">
          <span class="headline">
            <a ng-click="post.show_body=post.show_body ? false : true;">{{post.headline}}</a>
          </span>
        </span>
        <span ng-hide="post.comments.length>0">
          <a ng-click="post.show_comments=post.show_comments ? false : true;">+</a>
        </span>
        <span ng-show="post.comments.length>0">
          <a ng-click="post.show_comments=post.show_comments ? false : true;">Comments</a>
       </span>
      </div>
      <div>
        <span style="font-size: x-small;">
          Posted By: <a ng-click="alert('this author sucks');">{{post.author}}</a>
        </span>
        <span style="font-size: x-small;">
          {{post.created_string}}
        </span>
      </div>
      <span ng-show="post.show_body" class="post_body">
        {{post.body}}
      </span>
      <span ng-show="post.show_comments">
		    <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
          <div>
            <span class="glyphicon glyphicon-thumbs-up"
            ng-click="incrementUpvotes(comment)"></span>
            <span style="font-size:20px; margin-left:10px;">
              {{comment.body}}
            </span>
          </div>
          <div>
            <span style="font-size: x-small;">
              {{comment.upvotes}} Posted By: <a ng-click="alert('this author sucks');">{{comment.author}}</a>
            </span>
            <span style="font-size: x-small;">
              {{comment.created_string}}
            </span>
          </div>
		    </div>
		    <div>
		      <span ng-show="post.new_comment">
       	    <form ng-submit="addComment(post)" style="margin-top:10px;">
             <div class="form-group">
               <input type="text"
               placeholder="Comment"
               ng-model="post.comment" style="width:80%; display: inline-block;"></input>
               <span class="glyphicon glyphicon-share" ng-click="addComment(post)"></span>
               <span class="glyphicon glyphicon-remove" ng-click="post.new_comment=false"></span>
             </div>
           </form>
		      </span>
		      <span ng-hide="post.new_comment">
		      	<a ng-click="post.new_comment=true" style="margin-top:10px;">Add Comment</a>
		      </span>
		    </div>
	    </span>
    </div>

    <form ng-submit="addPost()"
      style="margin-top:30px;">
      <h3>Add a new post</h3>

      <div class="form-group">
        <input type="text"
          class="form-control"
          placeholder="Headline"
          ng-model="headline"></input>
      </div>
      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Body"
        ng-model="body"></input>
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>
  </script>
  <!-- posts.html inline template -->
<!--
  <script type="text/ng-template" id="/posts.html">
    <div class="page-header">
      <h3>
        <a ng-show="post.link" href="{{post.link}}">
          {{post.title}}
        </a>
        <span ng-hide="post.link">
          {{post.title}}
        </span>
      </h3>
    </div>

    <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
      <span class="glyphicon glyphicon-thumbs-up"
        ng-click="incrementUpvotes(comment)"></span>
      {{comment.upvotes}} - by {{comment.author}}
      <span style="font-size:20px; margin-left:10px;">
        {{comment.body}}
      </span>
    </div>

  </script>
-->
</body>
</html>